@model SparkSide.Services.Data.Models.ChallengeDTO


@{
    this.ViewData["Title"] = Model.Title;
}

<div>
    <div class="page-title">
        <h3>Details</h3>
    </div>
</div>

<center>
    <div class="mdl-card content-container challenge-container mdl-shadow--2dp ">
        <div class="title-container">
            <h3>@Model.Title</h3>
        </div>
        <div class="action-buttons">
            <form class="form-button" method="post">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        asp-area="" asp-controller="Challenges" asp-action="Start" asp-route-id="@Model.Id">
                    Start
                </button>
            </form>
            <form class="form-button" method="post">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                        asp-area="" asp-controller="Challenges" asp-action="Save" asp-route-id="@Model.Id">
                    Save
                </button>
            </form>
        </div>
        <div class="author-container">
            by <a asp-controller="Users" asp-action="@Model.Author.LoginName">@Model.Author.FirstName @Model.Author.LastName</a>
        </div>
        <div class="info">
            <div class="picture-container">
                <img class="challenge-picture" src="@Model.PictureLink" />
            </div>
            <div class="challenge-info-container">
                <div>
                    <strong>@Model.DurationDays Days</strong>
                </div>
                <br />
                <div>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
        <div>
            <div class="border-bottom">
                <h4>Comments (3)</h4>
            </div>
            <br />
            @*comments*@
        </div>
    </div>
</center>
