@using SparkSide.Common
@model SparkSide.Web.ViewModels.Challenges.ChallengeDetailsViewModel

@{
    this.ViewData["Title"] = Model.Challenge.Title;
}

<div>
    <div class="page-title">
        <h3>Details</h3>
    </div>
</div>

<center>
    <div class="mdl-card content-container challenge-container mdl-shadow--2dp ">
        <div class="title-container">
            <h3>@Model.Challenge.Title</h3>
        </div>
        <div class="action-buttons-container">
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="action-buttons">
                    @if (this.User.Identity.Name == Model.Challenge.Author.LoginName && !Model.Challenge.IsPublished)
                    {
                        <a class="edit-icon mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary"
                           asp-area="Trainer" asp-controller="ChallengesManager" asp-action="Edit" asp-route-id="@Model.Challenge.Id">
                            <i class="material-icons">edit</i>
                        </a>
                    }
                    else
                    {
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                disabled="@Model.IsStartButtonDisabled" id="btnStart">
                            Start
                        </button>
                        <button disabled="@Model.IsSaveButtonDisabled" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                                id="btnSave">
                            Save
                        </button>
                    }
                </div>
            }
        </div>
        <div class="author-container">
            by <a asp-controller="Users" asp-action="@Model.Challenge.Author.LoginName">@Model.Challenge.Author.FirstName @Model.Challenge.Author.LastName</a>
        </div>
        <div class="info">
            <div class="picture-container">
                <img class="challenge-picture" src="@Model.Challenge.PictureLink" />
            </div>
            <div class="challenge-info-container">
                <div>
                    <strong>@Model.Challenge.DurationDays Days</strong>
                </div>
                <br />
                <div>
                    <p>@Model.Challenge.Description</p>
                </div>
            </div>
        </div>
        <div>
            <div class="border-bottom">
                <h4>Comments (3)</h4>
            </div>
            <br />
            @*comments*@
        </div>
    </div>
</center>

@section Scripts {
    <partial name="_SaveAndStartScriptsPartial" for="@Model.Challenge" />
}
