@using SparkSide.Common
@model SparkSide.Web.ViewModels.Users.UserProfileViewModel

@{
    this.ViewData["Title"] = Model.User.FirstName + " " + Model.User.LastName;
}

<div class="mdl-card user-profile mdl-shadow--2dp">
    <div class="profile-follow-button">
        @{

            if (Model.IsFollowing)
            {
                <button id="btnUnfollow" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    Unfollow
                </button>
            }
            else if (!Model.IsCurrentUser)
            {
                <button id="btnFollow" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    Follow
                </button>
            }
        }
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col profile-col">
            <div class="profile-picture-container">
                <img src="@Model.User.ProfilePictureLink" asp-append-version="true" />
            </div>
            <div class="profile-follows">
                <span><strong>@Model.User.FollowingCount</strong> following</span>
                <span><strong>@Model.User.FollowersCount</strong> followers</span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col profile-info-container">
            <div class="profile-header">
                <span><strong>@Model.User.FirstName @Model.User.LastName</strong></span>
                @if (Model.IsTrainer)
                {
                    <span class="profile-role">Trainer</span>
                }
                else if (Model.IsAdmin)
                {
                    <span class="profile-role">Admin</span>
                }
            </div>
            <div class="profile-description">
                <p>@Model.User.ProfileDescription</p>
            </div>
        </div>
    </div>
    <div>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#feedPanel" class="mdl-tabs__tab is-active">Feed</a>
                @if (Model.IsTrainer)
                {
                    <a href="#challengesPanel" class="mdl-tabs__tab">Challenges</a>
                }
                <a href="#startedChallengesPanel" class="mdl-tabs__tab">Started Challenges</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="feedPanel">
                <center>

                </center>
            </div>
            @if (Model.IsTrainer)
            {
                <div class="mdl-tabs__panel" id="challengesPanel">
                    <center>
                        @foreach (var challenge in Model.Challenges)
                        {
                            <partial name="~/Views/Shared/_ChallengeCardDisplayPartial.cshtml" for="@challenge" />
                        }
                    </center>
                </div>
            }
            <div class="mdl-tabs__panel" id="startedChallengesPanel">
                <center>
                    @foreach (var challenge in Model.StartedChallenges)
                    {
                        <partial name="~/Views/Shared/_ChallengeCardDisplayPartial.cshtml" for="@challenge" />
                    }
                </center>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_FollowUserScriptsPartial" for="@Model.User" />
}
