@using SparkSide.Common
@using SparkSide.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/material.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-teal.min.css" />
    <link rel="stylesheet" href="~/css/custom-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
        <header class="mdl-layout__header red-gradient">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title full-logo">SPARKSIDE</span>
                <div class="mdl-layout-title small-logo">SS</div>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon"
                           for="fixed-header-drawer-exp">
                        <i class="material-icons align-search">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="fixed-header-drawer-exp">
                    </div>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </header>
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            <div class="mdl-layout__drawer custom-menu is-casting-shadow">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" asp-controller="Home" asp-action="Index"><i class="material-icons menu-icon">dashboard</i>Dashboard</a>
                    <a class="mdl-navigation__link" href=""><i class="material-icons menu-icon">favorite_border</i>My Challenges</a>
                    <a class="mdl-navigation__link" href=""><i class="material-icons menu-icon">star_border</i>Favourite</a>
                    <a class="mdl-navigation__link" asp-controller="Explore" asp-action="AllChallenges"><i class="material-icons menu-icon">explore</i>Explore</a>
                    <a class="mdl-navigation__link" href="">About</a>
                </nav>
            </div>
        }
        <main class="mdl-layout__content">
            <div class="page-content main-section">
                @this.RenderBody()
            </div>
            <div class="right-section">
                @this.RenderSection("RightSection", required: false)
            </div>
        </main>
    </div>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    @*<div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
            </main>
        </div>*@

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/material.min.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
